@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand", serif;
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 * {
    color: #f1356d;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #f1356d;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

/* blog previews / list */
.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    cursor: pointer;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

.blog-preview button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f1356d;
    color: white;
}

.blog-preview a {
    text-decoration: none;
}

/* blog details page */
.blog-details h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 10px;
}

.blog-details div {
    margin: 20px 0;
}

.blog-details__actions {
    display: flex;
    gap: 10px;
}

.blog-details button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

/* Create new blog and Edit form */
.create,
.edit {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label,
.edit label {
    text-align: left;
    display: block;
}

.create h2,
.edit h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.create input,
.edit input,
.create textarea,
.edit textarea,
.create select,
.edit select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
}

.create button,
.edit button {
    margin: auto 5px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Not found page */
.not-found a {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    color: #f1356d;
    text-decoration: none;
}

/* Modal */
.base-modal__overlay {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 !important;
}

.modal-actions button {
    height: 40px;
    min-width: 80px;
    cursor: pointer;
}